* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: unset;
  text-decoration: none;
}

.cta {
  padding: 8px 16px;
  background: #f0f0f0;
  border: solid 1px #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
}

.cta:hover {
  background: #e0e0e0;
}

.cta:active {
  background: #d0d0d0;
}

.cta--full {
  width: 100%;
  padding: 16px;
}
