* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

html {
  /* prevent iOS from increasing font-size on device orientation change */
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Helvetica, sans-serif;
}

hr {
  border: 0;
  margin: 0;
  height: 1px;
  background: lightgray;
}

.h-full {
  height: 100vh;
  height: 100dvh;
}

@supports (-webkit-touch-callout: none) {
  .h-full {
    height: -webkit-fill-available;
    height: 100dvh;
  }
}

#backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
}

#wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

#data-capture-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#alert {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 0.5rem;
  background: #fff;
}

#alert div:first-child {
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid #d7d7d7;
}

#alert h3 {
  margin: 0;
  padding-bottom: 0.25rem;
}

#alert p {
  margin: 0;
}

#alert div:last-child {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

#alert button {
  color: #2ec1ce;
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#alert button:not(:first-child) {
  border-left: 1px solid #d7d7d7;
}

#loader {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#loader div {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg, rgb(255 255 255/50%) 30%, #0000 0 70%, rgb(255 255 255/100%) 0) 50%/8% 100%,
    linear-gradient(90deg, rgb(255 255 255/25%) 30%, #0000 0 70%, rgb(255 255 255/75%) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
#loader div::before,
#loader div::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
#loader div::after {
  opacity: 0.83;
  transform: rotate(60deg);
}
@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

.card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  min-width: min(100vw, 640px);
  max-height: 100vh;
}

.card-header {
  background: white;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  font-size: 1.25em;
  padding: 1.5rem 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header button {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
}

.card-content {
  padding: 1rem 2rem;
  overflow: auto;
  max-height: 90vh;
  background: white;
}

.card-content .label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: darkgray;
  margin: 1rem 0;
}

.card-content > .value {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-break: anywhere;
}

.card-content .field {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-content .face-image {
  max-height: 10rem;
  clip-path: circle();
}

.card-content .card-image {
  max-height: 10rem;
  max-width: calc(50% - 0.5rem);
}

.card-content .card-image + .card-image {
  margin-left: 1rem;
}

.card-footer {
  padding: 0 1rem 1rem 1rem;
  background: white;
  display: flex;
  justify-content: center;
}

.card-footer button {
  background: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.id-mismatch-image {
  max-width: 100%;
  padding: 10px;
}
