@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 88px;
  background-color: black;
}

body {
  max-height: 100dvh;
}

* {
  outline: transparent;
}

a {
  color: unset;
  text-decoration: none;
}

input.default {
  @apply w-2/4 px-2 py-1 border border-gray-300 transition;
  @apply focus:border-gray-400;
}

select {
  text-align-last: right;
}

.cta {
  @apply px-4 py-2 bg-white rounded cursor-pointer text-center transition;
  @apply hover:border-gray-500;
}

.cta--primary {
  @apply bg-gray-50 text-cyan-500;
}

.cta--secondary {
  @apply bg-gray-50;
}

.cta--full {
  @apply w-full py-4;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
